<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pwd-initializr-search</title>

  <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./static/css/template.css">

  <script src="https://unpkg.zhimg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.zhimg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script src="js/template.js"></script>

</head>
<body>
<el-container id="container" >
  <el-header style="padding: 0px;height: 42px">
    <el-row>
      <el-col :span="12" :offset="6">
        <template>
          <el-tabs v-model="activeName" type="card" @tab-click="onTabClick">
            <el-tab-pane label="sender" name="0"></el-tab-pane>
            <el-tab-pane label="swagger" name="swagger"></el-tab-pane>
          </el-tabs>
        </template>
      </el-col>
    </el-row>
  </el-header>
  <el-main style="padding: 0px 10px 0px 0px; margin-top: 10px; background-color: transparent; height: 666px">
    <el-row class="row-bg" style="background-color: transparent">
      <el-col :span="12" :offset="6" style="background-color: transparent">
        <el-button type="primary" @click="createDialogVisible = true" style="float: left">新增</el-button>
        <!--<el-input placeholder="请输入内容" v-model="search" class="input-with-select" style="width: 80%;float: right">-->
          <!--<el-button slot="append" icon="el-icon-search"></el-button>-->
        <!--</el-input>-->
      </el-col>
    </el-row>
    <el-row class="row-bg" style="background-color: transparent">
      <el-col :span="12" :offset="6" style="background-color: transparent">
        <el-table
            :data="elements"
            stripe
            style="width: 100%">
          <el-table-column
              prop="name"
              label="日期"
              width="180">
          </el-table-column>
          <el-table-column
              prop="date"
              label="姓名"
              width="180">
          </el-table-column>
          <el-table-column
              prop="owner"
              label="所属">
          </el-table-column>
          <el-table-column
              label="操作"
              width="100">
            <template slot-scope="scope">
              <el-button @click="onDeleteIndex(scope.row.name)" type="text" size="small">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12" :offset="6" >
        <div class="block">
          <el-pagination
              layout="prev, pager, next"
              @current-change="requestForIndices"
              :page-size="pageSize"
              :total="total">
          </el-pagination>
        </div>
      </el-col>
    </el-row>
    <el-dialog
        title="新建"
        :visible.sync="createDialogVisible"
        width="30%">
      <div>
        <el-input placeholder="请输入IndexName" v-model="newIndexName">
          <template slot="prepend">IndexName</template>
        </el-input>
      </div>
      <span slot="footer" class="dialog-footer">
    <el-button @click="createDialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="onCreateIndex">确 定</el-button>
  </span>
    </el-dialog>
  </el-main>
  <el-footer>
    <el-row>
      <el-col :span="12" :offset="6">
        <p>Powered by www.dingpengwei@foxmail.com</p>
        <p>copyright©2020</p>
      </el-col>
    </el-row>
  </el-footer>
</el-container>
<style>
  .input-with-select {
    background-color: #fff;
  }
</style>
<script>
  new Vue({
    el: '#container',
    data: function () {
      return {
        activeName: 'metadata',
        createDialogVisible: false,
        newIndexName: '',
        search: '',
        index: 0,
        pageSize: 12,
        total: 0,
        elements: []
      };
    },
    created() {
      this.requestForIndices();
    },
    methods: {
      onTabClick(tab, event) {
        if ("0" == tab.name) {
          window.open("/", '_self');
        } else if ("swagger" === tab.name) {
          window.open("/swagger", '_self');
        } else {
          window.open("/static/" + tab.name + ".html", '_self');
        }
      },
      requestForIndices(){
        this.$http.get('/api/robot/metadata/indices')
        .then(
            function(res) {
              var body = res.body;
              var meta = body.meta;
              var code = meta.code;
              var data = body.data;
              if (code == 200) {
                var elements = data.elements;
                if (elements == undefined || elements.length == 0) {
                  this.$message({
                    message: 'No Date',
                    type: 'warning'
                  });
                } else {
                  this.elements = data.elements;
                }
              } else {
                this.$message({
                  message: meta.message,
                  type: 'warning'
                });
              }
            }, function(e) {
              var body = e.body;
              var meta = body.meta;
              var code = meta.code;
              if (code == 400) {
                this.$message.error('Exist IndexName');
              } else if (code == 500) {
                this.$message.error('Server error');
              } else {
                this.$message.error('Unknown error');
              }
            });
      },
      onCreateIndex(){
        this.requestForCreateIndex(this.newIndexName);
      },
      requestForCreateIndex(indexName){
        this.$http.post('/api/robot/metadata/index', indexName)
        .then(
            function(res) {
              var body = res.body;
              var meta = body.meta;
              var code = meta.code;
              var data = body.data;
              if (code == 200) {
                this.$message({
                  message: meta.message,
                  type: 'success'
                });
                this.createDialogVisible = false
                this.newIndexName = ''
                this.requestForIndices()
              } else {
                this.$message({
                  message: meta.message,
                  type: 'warning'
                });
              }
            }, function(e) {
              var body = e.body;
              var meta = body.meta;
              var code = meta.code;
              if (code == 400) {
                this.$message.error('Request params error');
              } else if (code == 500) {
                this.$message.error('Server error');
              } else {
                this.$message.error('Unknown error');
              }
            });
      },
      onDeleteIndex(indexName) {
        this.requestForDeleteIndex(indexName)
      },
      requestForDeleteIndex(indexName){
        this.$http.delete('/api/robot/metadata/index/' + indexName)
        .then(
            function(res) {
              var body = res.body;
              var meta = body.meta;
              var code = meta.code;
              var data = body.data;
              if (code == 200) {
                this.requestForIndices()
              } else {
                this.$message({
                  message: meta.message,
                  type: 'warning'
                });
              }
            }, function(e) {
              var body = e.body;
              var meta = body.meta;
              var code = meta.code;
              if (code == 400) {
                this.$message.error('Request params error');
              } else if (code == 500) {
                this.$message.error('Server error');
              } else {
                this.$message.error('Unknown error');
              }
            });
      }
    }
  });
</script>
</body>
</html>
