[submodule "ms-web-schedule"]
	path = ms-web-schedule
	url = https://github.com/xuxueli/xxl-job.git
[submodule "static-web-admin"]
	path = static-web-admin
	url = https://github.com/QQ1350995917/vue-element-admin.git
