[submodule "static-web-adminEntity"]
	path = static-web-adminEntity
	url = https://github.com/QQ1350995917/static-web-adminEntity.git
[submodule "static-web-userBO"]
	path = static-web-userBO
	url = https://github.com/QQ1350995917/static-web-userBO.git
