<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pwd.initializr.organization.persistence.mapper.OrganizationProgressMapper">
  <!-- create -->
  <insert id="create" keyProperty="id"
    parameterType="pwd.initializr.organization.persistence.dao.OrganizationProgressEntity"
    useGeneratedKeys="true">
		insert into `organization_progress`
		(`org_id`,`editor_id`,`content`,`ref_id`,`type`,`progress`,`status`,`create_time`,`update_time`)
		values
		(#{orgId},#{editorId},#{content},#{refId},#{type},#{progress},#{status},#{createTime},#{updateTime})
	</insert>

  <!-- listByOrgId -->
  <select id="listByOrgId" parameterType="java.lang.Long"
    resultType="pwd.initializr.organization.persistence.dao.OrganizationProgressEntity">
		SELECT
		`id` AS `id`,
		`org_id` AS `orgId`,
		`editor_id` AS `applicantId`,
		`content` AS `applicantContent`,
		`ref_id` AS `refId`,
		`type` AS `type`,
		`progress` AS `progress`,
		`status` AS `status`,
		`create_time` AS `createTime`,
		`update_time` AS `updateTime`
		FROM `organization_progress`
		WHERE `org_id` = #{orgId}
    <if test="status != null">
      and `status` = #{status}
    </if>
    ORDER BY create_time DESC
	</select>

  <!-- listMyExecution -->
  <select id="listMyExecution" parameterType="java.lang.Long"
    resultType="pwd.initializr.organization.persistence.dao.OrganizationProgressEntity">
		SELECT
		`id` AS `id`,
		`org_id` AS `orgId`,
		`editor_id` AS `applicantId`,
		`content` AS `applicantContent`,
		`ref_id` AS `refId`,
		`type` AS `type`,
		`progress` AS `progress`,
		`status` AS `status`,
		`create_time` AS `createTime`,
		`update_time` AS `updateTime`
		FROM `organization_progress`
		WHERE `editor_id` = #{editorId}
    <if test="status != null">
      and `status` = #{status}
    </if>
    ORDER BY create_time DESC
	</select>

</mapper>
