<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Organization</title>

  <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="css/template.css">

  <script src="https://unpkg.zhimg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.zhimg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script src="js/template.js"></script>

</head>
<body>
<el-container id="container">
  <el-header style="padding: 0px;height: 42px">
    <el-row>
      <el-col :span="2" :offset="3">
        <el-button @click="onCreateDialogOpen({})">Create</el-button>
      </el-col>
      <el-col :span="16">
        <div>
          <el-input placeholder="请输入内容" v-model="search" class="input-with-select">
            <el-select v-model="select" slot="prepend" placeholder="请选择">
              <el-option label="id" value="id"></el-option>
              <el-option label="pid" value="pid"></el-option>
              <el-option label="name" value="name"></el-option>
              <el-option label="logo" value="logo"></el-option>
              <el-option label="description" value="description"></el-option>
              <el-option label="slogan" value="slogan"></el-option>
              <el-option label="level" value="level"></el-option>
              <el-option label="sort" value="sort"></el-option>
              <el-option label="members" value="members"></el-option>
              <el-option label="progress" value="progress"></el-option>
              <el-option label="able" value="able"></el-option>
              <el-option label="del" value="del"></el-option>
              <el-option label="createTime" value="create_time"></el-option>
              <el-option label="updateTime" value="update_time"></el-option>
            </el-select>
            <el-button slot="append" icon="el-icon-search"></el-button>
          </el-input>
        </div>
      </el-col>
    </el-row>
  </el-header>
  <el-main style="padding: 0px;height: 650px">
    <el-row>
      <el-col :span="18" :offset="3">
        <el-table
            :data="list"
            style="width: 100%;"
            max-height="600">
          <el-table-column
              prop="id"
              label="id">
          </el-table-column>
          <el-table-column
              prop="pid"
              label="pid">
          </el-table-column>
          <el-table-column
              prop="name"
              label="name">
          </el-table-column>
          <el-table-column
              prop="logo"
              label="logo">
          </el-table-column>
          <el-table-column
              prop="description"
              label="description">
          </el-table-column>
          <el-table-column
              prop="slogan"
              label="slogan">
          </el-table-column>
          <el-table-column
              prop="level"
              label="level">
          </el-table-column>
          <el-table-column
              prop="sort"
              label="sort">
          </el-table-column>
          <el-table-column
              prop="members"
              label="members">
          </el-table-column>
          <el-table-column
              prop="progress"
              label="progress">
          </el-table-column>
          <el-table-column
              prop="able"
              label="able">
          </el-table-column>
          <el-table-column
              prop="del"
              label="del">
          </el-table-column>
          <el-table-column
              prop="create_time"
              label="createTime">
          </el-table-column>
          <el-table-column
              prop="update_time"
              label="updateTime">
          </el-table-column>
          <el-table-column
              fixed="right"
              label="Operations"
              width="180">
            <template slot-scope="scope">
              <el-button
                  @click.native.prevent="onUpdateDialogOpen(scope.row)"
                  icon="el-icon-setting"
                  size="small"
              >
              </el-button>
              <el-button
                  @click.native.prevent="onAbleButtonClick(scope.row.id)"
                  icon="el-icon-view"
                  size="small"
              >
              </el-button>
              <el-button
                  @click.native.prevent="onDelButtonClick(scope.row.id)"
                  icon="el-icon-delete"
                  size="small"
              >
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="block">
          <el-pagination
              layout="prev, pager, next"
              @current-change="onRequestForList"
              :page-size="pageSize"
              :total="total">
          </el-pagination>
        </div>
      </el-col>
      <el-dialog
          :title="dialogName"
          :visible.sync="dialogVisible"
          width="45%"
          :before-close="onDetailDialogClose">
        <div>
          <el-input placeholder="请输入内容" v-model="item.id">
            <template slot="prepend">id</template>
          </el-input>
        </div>
        <div>
          <el-input placeholder="请输入内容" v-model="item.pid">
            <template slot="prepend">pid</template>
          </el-input>
        </div>
        <div>
          <el-input placeholder="请输入内容" v-model="item.name">
            <template slot="prepend">name</template>
          </el-input>
        </div>
        <div>
          <el-input placeholder="请输入内容" v-model="item.logo">
            <template slot="prepend">logo</template>
          </el-input>
        </div>
        <div>
          <el-input placeholder="请输入内容" v-model="item.description">
            <template slot="prepend">description</template>
          </el-input>
        </div>
        <div>
          <el-input placeholder="请输入内容" v-model="item.slogan">
            <template slot="prepend">slogan</template>
          </el-input>
        </div>
        <div>
          <el-input placeholder="请输入内容" v-model="item.level">
            <template slot="prepend">level</template>
          </el-input>
        </div>
        <div>
          <el-input placeholder="请输入内容" v-model="item.sort">
            <template slot="prepend">sort</template>
          </el-input>
        </div>
        <div>
          <el-input placeholder="请输入内容" v-model="item.members">
            <template slot="prepend">members</template>
          </el-input>
        </div>
        <div>
          <el-input placeholder="请输入内容" v-model="item.progress">
            <template slot="prepend">progress</template>
          </el-input>
        </div>
        <div>
          <el-input placeholder="请输入内容" v-model="item.able">
            <template slot="prepend">able</template>
          </el-input>
        </div>
        <div>
          <el-input placeholder="请输入内容" v-model="item.del">
            <template slot="prepend">del</template>
          </el-input>
        </div>
        <div>
          <el-input placeholder="请输入内容" v-model="item.create_time">
            <template slot="prepend">createTime</template>
          </el-input>
        </div>
        <div>
          <el-input placeholder="请输入内容" v-model="item.update_time">
            <template slot="prepend">updateTime</template>
          </el-input>
        </div>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button v-if="'Create' == dialogName" type="primary" @click="onRequestForCreate">Create</el-button>
          <el-button v-if="'Update' == dialogName" type="primary" @click="onRequestForUpdate">Update</el-button>
        </span>
      </el-dialog>
    </el-row>
  </el-main>
  <el-footer>
    <el-row>
      <el-col :span="12" :offset="6">
        <p>Powered by www.dingpengwei@foxmail.com</p>
        <p>copyright©2020</p>
      </el-col>
    </el-row>
  </el-footer>
</el-container>

<script>
  new Vue({
    el: '#container',
    data: function () {
      return {
        list: [],
        item: {},
        pageIndex: 1,
        pageSize: 12,
        total: 0,
        search: '',
        select: '',
        dialogVisible: false,
        dialogName: '',
        dialogConfirm: ''
      };
    },
    created() {
      this.onRequestForList(this.pageIndex);
    },
    methods: {
      onRequestForList(pageIndex) {
        this.$http.get('/api/organization').then(
            function (res) {
              var body = res.body;
              var meta = body.meta;
              var code = meta.code;
              var data = body.data;
              var elements = data.elements;
              if (elements == undefined || elements.length == 0) {
                this.$message({
                  message: 'No Date',
                  type: 'warning'
                });
              } else {
                this.list = data.elements;
                this.total = Number(data.total);
              }
            }, function (e) {
              var body = e.body;
              var meta = body.meta;
              var code = meta.code;
              if (code == 400) {
                this.$message.error('Request params error');
              } else if (code == 500) {
                this.$message.error('Server error');
              } else {
                this.$message.error('Unknown error');
              }
            });
      },
      onCreateDialogOpen(item) {
        this.item = item
        this.dialogName = 'Create'
        this.dialogVisible = true

      },
      onUpdateDialogOpen(item) {
        this.item = item
        this.dialogName = 'Update'
        this.dialogVisible = true
      },
      onRequestForCreate(){
        console.log("Create")

        this.dialogVisible = false
      },
      onRequestForUpdate(){
        console.log("Update")
        this.dialogVisible = false
      },
      onDetailDialogClose(done) {
        this.$confirm('Confirm？')
        .then(_ => {
          done();
      }).catch(_ => {});
      },
      onAbleButtonClick(item) {

      },
      onDelButtonClick(item) {

      },
    }
  });
</script>
</body>
</html>
