<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pwd-initializr-search</title>

  <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./static/css/template.css">

  <script src="https://unpkg.zhimg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.zhimg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script src="js/template.js"></script>

</head>
<body>
<el-container id="container" >
  <el-header style="padding: 0px;height: 42px">
    <el-row>
      <el-col :span="12" :offset="6">
        <template>
          <el-tabs v-model="activeName" type="card" @tab-click="onTabClick">
            <el-tab-pane label="pwd-initializr-search" name="0"></el-tab-pane>
            <el-tab-pane label="swagger" name="swagger">swagger</el-tab-pane>
            <el-tab-pane label="metadata" name="metadata">metadata</el-tab-pane>
            <el-tab-pane label="document" name="document">document</el-tab-pane>
          </el-tabs>
        </template>
      </el-col>
    </el-row>
  </el-header>
  <el-main style="padding: 0px 10px 0px 0px; margin-top: 10px; background-color: transparent; height: 666px">
    <el-row class="row-bg" style="background-color: transparent">
      <el-col :span="12" :offset="6" style="background-color: transparent">
        <el-select v-model="indexName" placeholder="indexName" style="width: 100%">
          <el-option
              v-for="item in indies"
              :key="item.name"
              :label="item.name"
              :value="item.name">
          </el-option>
        </el-select>
        <div style="margin-top: 10px">
          <el-input placeholder="input id" v-model="element.id">
            <template slot="prepend">ID</template>
          </el-input>
        </div>
        <div style="margin-top: 10px">
          <el-input placeholder="input title" v-model="element.title">
            <template slot="prepend">Title</template>
          </el-input>
        </div>
        <div style="margin-top: 10px">
          <el-input placeholder="input content" v-model="content" type="textarea">
            <template slot="prepend">Content</template>
          </el-input>
        </div>
        <div style="margin-top: 10px">
          <el-input placeholder="input linkTo" v-model="element.linkTo">
            <template slot="prepend">LinkTo</template>
          </el-input>
        </div>
        <div style="margin-top: 10px">
          <el-input placeholder="input updateTime" v-model="element.updateTime">
            <template slot="prepend">UpdateTime</template>
          </el-input>
        </div>
      </el-col>
      <el-col :span="12" :offset="6" style="margin-top: 10px">
        <el-button type="primary" @click="onCommitButtonClick" style="width: 100%">提交</el-button>
      </el-col>
    </el-row>
  </el-main>
  <el-footer>
    <el-row>
      <el-col :span="12" :offset="6">
        <p>Powered by www.dingpengwei@foxmail.com</p>
        <p>copyright©2020</p>
      </el-col>
    </el-row>
  </el-footer>
</el-container>
<script>
  new Vue({
    el: '#container',
    data: function () {
      return {
        activeName: 'document',
        indies: [],
        indexName: '',
        content: '',
        element: {id: '',title:'',content:[],linkTo:'',updateTime:''},
        elements: []
      };
    },
    created() {
      this.requestForIndices();
    },
    methods: {
      onTabClick(tab, event) {
        if ("0" === tab.name) {
          window.open("/", '_self');
        } else if ("swagger" === tab.name) {
          window.open("/swagger", '_self');
        } else {
          window.open("/static/" + tab.name + ".html", '_self');
        }
      },
      requestForIndices(){
        this.$http.get('/api/admin/metadata/indices')
        .then(
            function(res) {
              var body = res.body;
              var meta = body.meta;
              var code = meta.code;
              var data = body.data;
              if (code == 200) {
                var elements = data.elements;
                if (elements == undefined || elements.length == 0) {
                  this.$message({
                    message: 'No Date',
                    type: 'warning'
                  });
                } else {
                  this.indies = data.elements;
                }
              } else {
                this.$message({
                  message: meta.message,
                  type: 'warning'
                });
              }
            }, function(e) {
              var body = e.body;
              var meta = body.meta;
              var code = meta.code;
              if (code == 400) {
                this.$message.error('Request params error');
              } else if (code == 500) {
                this.$message.error('Server error');
              } else {
                this.$message.error('Unknown error');
              }
            });
      },
      onCommitButtonClick(){
        if (this.indexName === '' || this.indexName === undefined) {
          this.$message({
            message: 'Must select index name',
            type: 'warning'
          });
          return
        }
        this.element.content.push(this.content)
        this.elements = []
        this.elements.push(this.element)
        this.requestForCreateDocument()
      },
      requestForCreateDocument(){
        this.$http.post('/api/robot/document/' + this.indexName, JSON.stringify(this.elements))
        .then(
            function(res) {
              var body = res.body;
              var meta = body.meta;
              var code = meta.code;
              var data = body.data;
              if (code == 200) {
                this.$message({
                  message: meta.message,
                  type: 'success'
                });
              } else {
                this.$message({
                  message: meta.message,
                  type: 'warning'
                });
              }
            }, function(e) {
              var body = e.body;
              var meta = body.meta;
              var code = meta.code;
              if (code == 400) {
                this.$message.error('Request params error');
              } else if (code == 500) {
                this.$message.error('Server error');
              } else {
                this.$message.error('Unknown error');
              }
            });
      },
    }
  });
</script>
</body>
</html>
