<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>pwd-initializr-search</title>

  <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./static/css/template.css">

  <script src="https://unpkg.zhimg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.zhimg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script src="/static/js/template.js"></script>

</head>
<body>
<el-container id="container">
  <el-header style="padding: 0px; height: 90px">
    <el-row>
      <el-col :span="12" :offset="6">
        <template>
          <el-tabs v-model="activeName" type="card" @tab-click="onTabClick">
            <el-tab-pane label="search" name="0"></el-tab-pane>
            <el-tab-pane label="query" name="query"></el-tab-pane>
            <el-tab-pane label="swagger" name="swagger"></el-tab-pane>
            <el-tab-pane label="metadata" name="metadata"></el-tab-pane>
            <el-tab-pane label="document" name="document"></el-tab-pane>
          </el-tabs>
        </template>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12" :offset="6">
        <div>
          <el-input placeholder="请输入内容" v-model="keyword" class="input-with-select" clearable maxlength="120"  @keyup.enter.native="onSearchButtonClick">
            <el-select v-model="select" slot="prepend" placeholder="请选择" style="width: 120px;">
              <el-option label="*" value="*"></el-option>
              </el-option>
              <el-option  v-for="index in indies"
                          :key="index.name"
                          :label="index.name"
                          :value="index.name">
              </el-option>
            </el-select>
            <el-button slot="append" icon="el-icon-search" @click="onSearchButtonClick"></el-button>
          </el-input>
        </div>
      </el-col>
    </el-row>
  </el-header>
  <el-main style="padding: 0px 10px 0px 0px; margin-top: 10px; height: 666px;">
    <el-row>
      <el-col :span="12" :offset="6" v-for="element in elements">
        <a :href="element.link" target="_blank">
          <span class="text item book" v-html="element.title" style="color: #606266;"></span>
          -
          <span style="color: #606266;">{{element.source}}</span>
        </a>
        <br><br>
        <el-tag v-html="tagItem" effect="plain" v-for="tagItem in element.tags" type="info"></el-tag>
        <br><br>
        <span v-html="contentItem" v-for="contentItem in element.contents"></span>
        <br><br>
        <span style="color: #606266;">{{element.time}}</span>
        <el-divider></el-divider>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="12" :offset="6" >
        <div class="block">
          <el-pagination
              layout="prev, pager, next"
              @current-change="requestForSearch"
              :page-size="pageSize"
              :total="total">
          </el-pagination>
        </div>
      </el-col>
    </el-row>
  </el-main>
  <el-footer>
    <el-row>
      <el-col :span="12" :offset="6">
        <p>Powered by www.dingpengwei@foxmail.com</p>
        <p>copyright©2020</p>
      </el-col>
    </el-row>
  </el-footer>
</el-container>
<script>
  new Vue({
    el: '#container',
    data: function () {
      return {
        activeName: '0',
        indies: [],
        select: '',
        keyword: '',
        pageIndex: 0,
        pageSize: 12,
        total: 0,
        elements: []
      };
    },
    created() {
      this.requestForIndices();
    },
    methods: {
      onTabClick(tab, event) {
        if ("swagger" === tab.name) {
          window.open("/swagger", '_self');
        } else {
          window.open("/static/" + tab.name + ".html", '_self');
        }
      },
      requestForIndices(){
        this.$http.get('/api/admin/metadata/indices')
        .then(
            function(res) {
              var body = res.body;
              var meta = body.meta;
              var code = meta.code;
              var data = body.data;
              if (code == 200) {
                var elements = data.elements;
                if (elements == undefined || elements.length == 0) {
                  this.$message({
                    message: 'No Date',
                    type: 'warning'
                  });
                } else {
                  this.indies = data.elements;
                }
              } else {
                this.$message({
                  message: meta.message,
                  type: 'warning'
                });
              }
            }, function(e) {
              var body = e.body;
              var meta = body.meta;
              var code = meta.code;
              if (code == 400) {
                this.$message.error('Request params error');
              } else if (code == 500) {
                this.$message.error('Server error');
              } else {
                this.$message.error('Unknown error');
              }
            });
      },
      onSearchButtonClick() {
        if (this.select === '' || this.select === undefined) {
          this.select = '*';
        }
        if (this.keyword === '' || this.keyword === undefined) {
          this.$message({
            message: 'Must input keyword',
            type: 'warning'
          });
          return
        }
        this.elements = []
        this.pageIndex = 0
        this.requestForSearch()
      },
      requestForSearch() {
        this.$http.get('/api/search?index=' + this.pageIndex + '&indices=' + this.select + '&keyword=' + encodeURIComponent(this.keyword))
        .then(
            function(res) {
              var body = res.body;
              var meta = body.meta;
              var code = meta.code;
              var data = body.data;
              if (code == 200) {
                var elements = data.elements;
                if (elements == undefined || elements.length == 0) {
                  this.$message({
                    message: 'No Date',
                    type: 'warning'
                  });
                } else {
                  this.$message.success('List Success');
                  this.elements = data.elements;
                  this.total = Number(data.total);
                }
              } else {
                this.$message({
                  message: meta.message,
                  type: 'warning'
                });
              }
            }, function(e) {
              var body = e.body;
              var meta = body.meta;
              var code = meta.code;
              if (code == 400) {
                this.$message.error('Request params error');
              } else if (code == 500) {
                this.$message.error('Server error');
              } else {
                this.$message.error('Unknown error');
              }
            });
      }
    }
  });
</script>
</body>
</html>
