<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pwd.initializr.typeface.persistence.mapper.FontMapper">
  <!-- insert -->
  <insert id="insert" keyProperty="id"
    parameterType="pwd.initializr.typeface.persistence.dao.FontEntity"
    useGeneratedKeys="true">
		insert into `font`
		(
		`title`,
		`name`,
		`file_url`,
		`thumb_url`,
		`create_time`,
		`update_time`
		)
		values
		(
		#{fontEntity.title},
		#{fontEntity.name},
		#{fontEntity.fileUrl},
		#{fontEntity.thumbUrl},
		#{fontEntity.createTime},
		#{fontEntity.updateTime}
		)
	</insert>

  <!--findById-->
  <select id="findById" parameterType="java.lang.Long"
    resultType="pwd.initializr.typeface.persistence.dao.FontEntity">
		select
		`id` as id,
		`title` as `title`,
		`name` as `name`,
		`file_url` as fileUrl,
		`thumb_url` as thumbUrl,
		`status` as status,
		`create_time` as createTime,
		`update_time` as updateTime
		from `font`
		where id = #{id}
	</select>

  <!--countByCondition-->
  <select id="countByCondition"
    parameterType="pwd.initializr.typeface.persistence.dao.FontEntity"
    resultType="java.lang.Long">
    select count(*)
    from `font`
    <where>
      <include refid="whereCondition"></include>
    </where>
  </select>

  <!--findByCondition-->
  <select id="findByCondition"
    parameterType="pwd.initializr.typeface.persistence.dao.FontEntity"
    resultType="pwd.initializr.typeface.persistence.dao.FontEntity">
    select
    `id` as id,
    `title` as `title`,
    `name` as `name`,
    `file_url` as fileUrl,
    `thumb_url` as thumbUrl,
    `status` as status,
    `create_time` as createTime,
    `update_time` as updateTime
    from `font`
    <where>
      <include refid="whereCondition"></include>
    </where>
    limit #{offset}, #{rows}
  </select>

  <sql id="whereCondition">
    <if test="fontEntity.title != null and fontEntity.title != ''">
      `title` like concat('%',#{fontEntity.title},'%')
    </if>
  </sql>

</mapper>
