<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pwd.initializr.typeface.persistence.dao.PaintingMapper">
  <!-- insert -->
  <insert id="insert" keyProperty="id"
    parameterType="pwd.initializr.typeface.persistence.entity.PaintingEntity"
    useGeneratedKeys="true">
		insert into `painting` (
		`user_id`,
		`font_id`,
		`font_size`,
		`content`,
		`background`,
		`foreground`,
		`width`,
		`height`,
		`image_url`,
		`status`,
		`create_time`,
		`update_time`
		) values (
		#{paintingEntity.userId},
		#{paintingEntity.fontId},
		#{paintingEntity.fontSize},
		#{paintingEntity.content},
		#{paintingEntity.background},
		#{paintingEntity.foreground},
		#{paintingEntity.width},
		#{paintingEntity.height},
		#{paintingEntity.imageUrl},
		#{paintingEntity.status},
		#{paintingEntity.createTime},
		#{paintingEntity.updateTime})
	</insert>

  <!--findById-->
  <select id="findById" parameterType="java.lang.Long"
    resultType="pwd.initializr.typeface.persistence.entity.PaintingEntity">
		select
		`id` as id,
		`user_id` as userId,
		`font_id` as fontId,
		`font_size` as fileUrl,
		`content`,
		`background`,
		`foreground`,
		`width`,
		`height`,
		`image_url` as imageUrl,
		`status` as status,
		`create_time` as createTime,
		`update_time` as updateTime
		from `painting`
		where id = #{id}
	</select>

  <!--findByIds-->
  <select id="findByIds" parameterType="java.util.List"
    resultType="pwd.initializr.typeface.persistence.entity.PaintingEntity">
    select
    `id` as id,
    `user_id` as userId,
    `font_id` as fontId,
    `font_size` as fileUrl,
    `content`,
    `background`,
    `foreground`,
    `width`,
    `height`,
    `image_url` as imageUrl,
    `status` as status,
    `create_time` as createTime,
    `update_time` as updateTime
    from `painting`
    where id IN
    <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>

  <!--countAllByCondition-->
  <select id="countAllByCondition"
    parameterType="pwd.initializr.typeface.persistence.entity.PaintingEntity"
    resultType="java.lang.Long">
    select count(*)
    from `painting`
    <include refid="pwd.initializr.common.web.persistence.entity.ScopeEntity.entityQueryScope"></include>
  </select>

  <!--queryAllByCondition-->
  <select id="queryAllByCondition"
    parameterType="pwd.initializr.typeface.persistence.entity.PaintingEntity"
    resultType="pwd.initializr.typeface.persistence.entity.PaintingEntity">
    select
    `id` as id,
    `user_id` as userId,
    `font_id` as fontId,
    `font_size` as fontSize,
    `content`,
    `background`,
    `foreground`,
    `width`,
    `height`,
    `image_url` as imageUrl,
    `status` as status,
    `create_time` as createTime,
    `update_time` as updateTime
    from `painting`
    <include refid="pwd.initializr.common.web.persistence.entity.ScopeEntity.entityQueryScope"></include>
    <include refid="pwd.initializr.common.web.persistence.entity.SortEntity.entityQuerySort"></include>
    limit #{offset}, #{limit}
  </select>

  <!--deleteByIds-->
  <delete id="deleteByIds" parameterType="java.util.List">
    DELETE FROM `painting` WHERE `id` IN
    <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </delete>

</mapper>
