<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
  <meta name='apple-mobile-web-app-capable' content='yes'>
  <meta name='apple-mobile-web-app-status-bar-style' content='black'>
  <meta name='format-detection' content='telephone=no'>
  <title>pwd-initializr-book-index</title>

  <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="./static/css/template.css">

  <script src="https://unpkg.zhimg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.zhimg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script src="./static/js/template.js"></script>

</head>
<body>
<el-container id="container">
  <el-header style="padding: 0px;height: 42px">
    <el-row>
      <el-col :offset="viewOffset" :span="viewSpan">
        <template>
          <el-tabs v-model="activeName" type="card" @tab-click="onTabClick">
            <el-tab-pane label="pwd-initializr-book" name="0"></el-tab-pane>
            <el-tab-pane label="swagger" name="swagger">swagger</el-tab-pane>
          </el-tabs>
        </template>
      </el-col>
    </el-row>
  </el-header>
  <el-main
      style="padding: 0px 10px 0px 0px; margin-top: 10px; background-color: transparent; ">
    <el-row>
      <el-col :offset="viewOffset" :span="viewSpan">
        <el-table
            :data="mainTableList"
            style="width: 100%;"
            @row-click="onMainTableListRowClick">
          <el-table-column align="center" label="序号" type="index" :index="indexCalculator" >
            <!--<template slot-scope="scope">-->
              <!--<span>{{scope.$index + pageIndex * pageSize + 1}}</span>-->
            <!--</template>-->
          </el-table-column>
          <el-table-column
              prop="title"
              label="title">
          </el-table-column>
          <el-table-column
              prop="authorName"
              label="authorName">
          </el-table-column>
          <el-table-column
              prop="updateTime"
              label="updateTime">
          </el-table-column>
        </el-table>
        <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleIndexChange"
            :current-page="this.page + 1"
            :page-sizes="[10,12,20,50,100]"
            :page-size="this.size"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total" style="margin-top: 10px">
        </el-pagination>
      </el-col>
    </el-row>
  </el-main>
  <el-footer>
    <el-row>
      <el-col :offset="viewOffset" :span="viewSpan">
        <p>Powered by www.dingpengwei@foxmail.com</p>
        <p>copyright©2020</p>
      </el-col>
    </el-row>
  </el-footer>
</el-container>
<script>
  new Vue({
    el: '#container',
    data: function() {
      return {
        viewOffset: '6',
        viewSpan: '12',
        isMobile: false,
        activeName: '0',
        keyword: '',
        scopesTemplate: [{
          hit: '指定查询方式[EM:精确,ENM:精确非,AL:前后模糊,LL:左模糊,RL:右模糊,SM:范围',
          fieldName: '指定查询字段',
          fieldValue: '指定查询目标',
          start: '范围查询起始值，区间包含',
          end: '范围查询结束值，区间包含'
        }],
        sortsTemplate: [{fieldName: '指定排序字段', sort: '[desc|asc]'}],
        pageTemplate: {index: 0, size: 12},
        scopes: [],
        sorts: [],
        page: {index:0, size:12},
        mainTableList:[],
        total: 0,
      };
    },
    created() {
      if (this._isMobile()) {
        this.viewOffset = 0;
        this.viewSpan = 24;
        this.isMobile = true;
      } else {
        this.viewOffset = 6;
        this.viewSpan = 12;
        this.isMobile = false;
      }
      this.requestForMainTableList(this.page.index)
    },
    methods: {
      onTabClick(tab, event) {
        if ("swagger" === tab.name) {
          window.open("/swagger", '_self');
        }
      },
      onButtonClick(className) {
        // window.location.href="./static/" + className + ".html"
        window.open('/static/' + className + '.html', '_blank');
      },
      indexCalculator(index) {
        return this.page.index * this.page.size + index + 1;
      },
      handleSizeChange(size) {
        this.page.size = size;
        this.page.index = 0;
        this.requestForMainTableList()
      },
      handleIndexChange(index) {
        this.page.index = index - 1;
        this.requestForMainTableList()
      },
      requestForMainTableList(){
        this.$http.get('/api/book?scopes=' + encodeURIComponent(JSON.stringify(this.scopes))
            + '&sorts=' + encodeURIComponent(JSON.stringify(this.sorts))
            + '&page=' + encodeURIComponent(JSON.stringify(this.page)))
        .then(
            function(res) {
              var body = res.body;
              var meta = body.meta;
              var code = meta.code;
              var data = body.data;
              if (code == 200) {
                var elements = data.elements;
                if (elements == undefined || elements.length == 0) {
                  this.$message({
                    message: 'No Date',
                    type: 'warning'
                  });
                } else {
                  this.mainTableList = data.elements
                  this.total = Number(data.total)
                }
              } else {
                this.$message({
                  message: meta.message,
                  type: 'warning'
                });
              }
            }, function(e) {
              var body = e.body;
              var meta = body.meta;
              var code = meta.code;
              if (code == 400) {
                this.$message.error('Params error');
              } else if (code == 500) {
                this.$message.error('Server error');
              } else {
                this.$message.error('Unknown error');
              }
            });
      },
      onMainTableListRowClick(rowScope){
        window.open('/static/book.html?id=' + rowScope.id, '_blank');
      },
      _isMobile() {
        var flag = navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i);
        return flag;
      }
    }
  });
</script>
</body>
</html>
