<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gateway Router</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body>
<el-container id="container">
  <el-header style="padding: 0px;height: 42px">
    <el-row>
      <el-col :span="16" :offset="4">
        <el-button @click="onCreate()">Create</el-button>
      </el-col>
    </el-row>
  </el-header>
  <el-main style="padding: 0px;height: 650px">
    <el-row>
      <el-col :span="16" :offset="4">
        <el-table
            :data="list"
            style="width: 100%;"
            max-height="600">
          <el-table-column
              prop="route_id"
              label="ID"
              width="360">
          </el-table-column>
          <el-table-column
              prop="route_definition.uri"
              label="URI"
              width="360">
          </el-table-column>
          <el-table-column
              prop="order"
              label="ORDER"
              width="100">
          </el-table-column>
          <el-table-column
              fixed="right"
              label="Operations"
              width="220">
            <template slot-scope="scope">
              <el-button type="text" size="small" @click="detailDialogVisible = false">
                Detail
              </el-button>
              <el-button
                  @click.native.prevent="onUpdate(scope.row.url)"
                  type="text"
                  size="small">
                Update
              </el-button>
              <el-button
                  @click.native.prevent="onDelete(scope.row.url)"
                  type="text"
                  size="small">
                Delete
              </el-button>
              <el-button
                  @click.native.prevent="onTest(scope.row.url)"
                  type="text"
                  size="small">
                Test
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>

    <el-dialog
        title="Tips"
        :visible.sync="detailDialogVisible"
        width="30%">
      <span>This is a message</span>
      <span slot="footer" class="dialog-footer">
       <el-button @click="detailDialogVisible = false">Cancel</el-button>
       <el-button type="primary" @click="detailDialogVisible = false">Confirm</el-button>
      </span>
    </el-dialog>

  </el-main>
  <el-footer>
    <el-row>
      <el-col :span="12" :offset="6">
        <p>Powered by www.dingpengwei@foxmail.com</p>
        <p>copyright©2020</p>
      </el-col>
    </el-row>
  </el-footer>
</el-container>
<script>
  new Vue({
    el: '#container',
    data: function() {
      return {
        list: [],
        detailDialogVisible: false
      };
    },
    created() {
      this.onRequestForList();
    },
    methods: {
      onRequestForList() {
        this.$http.get('/actuator/gateway/routes').then(
            function(res) {
              this.list = res.body;
            }, function(e) {
              this.$message.error('服务异常');
            });
      },
      onCreate(url) {
      },
      onDetail(url) {
      },
      onUpdate(url) {
      },
      onDelete() {
      },
      onTest() {
      }
    }
  });
</script>
</body>
</html>
