<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GateWay Index</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.14.1/lib/theme-chalk/index.css">
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui@2.14.1/lib/index.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

  <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>

</head>
<body>
<el-row>
  <router-link to='router.html'>
    <el-button type="info">Router</el-button>
  </router-link>

  <router-link to='session.html'>
    <el-button type="info">SessionWhiteList</el-button>
  </router-link>
</el-row>
</body>
</html>
