<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Gateway Router</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
</head>
<body>
<el-container id="container">
  <el-header style="padding: 0px;height: 42px">
    <el-row>
      <el-col :span="12" :offset="6">
        <el-button @click="onCreate()">Create</el-button>
      </el-col>
    </el-row>
  </el-header>
  <el-main style="padding: 0px;height: 650px">
    <el-row>
      <el-col :span="12" :offset="6">
        <el-table
            :data="list"
            style="width: 100%;"
            max-height="600">
          <el-table-column
              prop="id"
              label="ID"
              width="180">
          </el-table-column>
          <el-table-column
              prop="url"
              label="Url"
              width="340">
          </el-table-column>
          <el-table-column
              prop="createTime"
              label="CreateTime"
              width="120">
          </el-table-column>
          <el-table-column
              fixed="right"
              label="Operations"
              width="140">
            <template slot-scope="scope">
              <el-button
                  @click.native.prevent="onDetail(scope.row.url)"
                  type="text"
                  size="small">
                Detail
              </el-button>
              <el-button
                  @click.native.prevent="onUpdate(scope.row.url)"
                  type="text"
                  size="small">
                Update
              </el-button>
              <el-button
                  @click.native.prevent="onDelete(scope.row.url)"
                  type="text"
                  size="small">
                Delete
              </el-button>
              <el-button
                  @click.native.prevent="onTest(scope.row.url)"
                  type="text"
                  size="small">
                Test
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="block">
          <el-pagination
              layout="prev, pager, next"
              @current-change="onRequestForFiles"
              :page-size="pageSize"
              :total="total">
          </el-pagination>
        </div>
      </el-col>
    </el-row>
  </el-main>
  <el-footer>
    <el-row>
      <el-col :span="12" :offset="6">
        <p>Powered by www.dingpengwei@foxmail.com</p>
        <p>copyright©2020</p>
      </el-col>
    </el-row>
  </el-footer>
</el-container>
<script>
  new Vue({
    el: '#container',
    data: function() {
      return {
        list: [],
        pageIndex: 1,
        pageSize: 12,
        total: 0
      };
    },
    created() {
      this.onRequestForList(this.pageIndex);
    },
    methods: {
      onRequestForList(pageIndex) {
        this.$http.get('/index/' + (pageIndex - 1) + '/' + this.pageSize).then(
            function(res) {
              var body = res.body;
              var meta = body.meta;
              var code = meta.code;
              var data = body.data;
              var elements = data.elements;
              if (elements == undefined || elements.length == 0) {
                this.$message({
                  message: '没有找到数据表',
                  type: 'warning'
                });
              } else {
                this.files = data.elements;
                this.filesTotal = data.total;
              }
            }, function(e) {
              var body = e.body;
              var meta = body.meta;
              var code = meta.code;
              if (code == 400) {
                this.$message.error('参数错误');
              } else if (code == 500) {
                this.$message.error('服务异常');
              } else {
                this.$message.error('未知异常');
              }
            });
      },
      onCreate(url) {
      },
      onDetail(url) {
      },
      onUpdate(url) {
      },
      onDelete() {
      },
      onTest() {
      }
    }
  });
</script>
</body>
</html>
