<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>ProjectGenerator</title>
  <link rel="stylesheet" href="https://unpkg.zhimg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.zhimg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.zhimg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

  <style>
    #canvas {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      z-index: -1;
    }
    .canvasBgImage {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      filter: alpha(opacity=40);
      -moz-opacity: 0.4;
      -khtml-opacity: 0.4;
      opacity: 0.4;
      background: url(./static/background.jpg) no-repeat center center;
      background-color: rgba(0, 0, 0, 0);
      background-attachment: scroll;
      background-size: auto;
      background-attachment: fixed;
      background-size: cover;
      background-color: #000;
    }

    .row-bg {
      background-color: #f9fafc;
    }

    .grid-content {
      background: #fafafa;
    }

    .text {
      font-size: 14px;
    }

    .item {
      padding: 5px 0;
    }

    .box-card {
      width: 100%;
    }

    .submit {
      width: 100%;
      margin: 20px auto;
    }
  </style>
</head>
<body>
<canvas id="canvas" width="1553" height="270" style="z-index: -1"></canvas>
<!--<div class="canvasBgImage"></div>-->
<el-container id="container" >
  <el-header style="padding: 0px;height: 42px">
    <el-row>
      <el-col :span="12" :offset="6">
        <template>
          <el-tabs v-model="activeName" type="card">
            <el-tab-pane label="MySQL" name="0"></el-tab-pane>
          </el-tabs>
        </template>
      </el-col>
    </el-row>
  </el-header>
  <el-main style="padding: 0px;background-color: transparent">
    <el-row class="row-bg" style="background-color: transparent">
      <el-col :span="12" :offset="6" style="background-color: transparent">
        <div class="grid-content" style="background-color: transparent">
          <el-tag style="margin-top: 5px">工程属性</el-tag>
          <el-card class="box-card">
            <div class="text item">
              <el-input placeholder="必填" v-model="projectName">
                <template slot="prepend">工程名称</template>
              </el-input>
            </div>
            <div class="text item">
              <el-input placeholder="必填" v-model="projectPackage">
                <template slot="prepend">工程包名</template>
              </el-input>
            </div>
            <div class="text item">
              <el-input placeholder="必填" v-model="projectVersion">
                <template slot="prepend">工程版本</template>
              </el-input>
            </div>
            <div class="text item">
              <el-input placeholder="必填" v-model="applicationName">
                <template slot="prepend">应用名称</template>
              </el-input>
            </div>
            <div class="text item">
              <el-input placeholder="必填" v-model="applicationPort">
                <template slot="prepend">应用端口</template>
              </el-input>
            </div>
          </el-card>
          <el-tag style="margin-top: 5px">数据库属性</el-tag>
          <el-card class="box-card">
            <div class="text item">
              <el-input placeholder="必填" v-model="databaseName">
                <template slot="prepend">数据库名称</template>
              </el-input>
            </div>
            <div class="text item">
              <el-input placeholder="必填" v-model="databaseUrl">
                <template slot="prepend">数据库地址</template>
              </el-input>
            </div>
            <div class="text item">
              <el-input placeholder="必填" v-model="databaseDriver">
                <template slot="prepend">数据库驱动</template>
              </el-input>
            </div>
            <div class="text item">
              <el-input placeholder="必填" v-model="databaseUser">
                <template slot="prepend">数据库用户</template>
              </el-input>
            </div>
            <div class="text item">
              <el-input placeholder="必填" v-model="databasePwd">
                <template slot="prepend">数据库密码</template>
              </el-input>
            </div>
            <div>
              <el-button type="text" @click="onDBConnect">连接测试</el-button>
              <el-progress :percentage="100" status="success"></el-progress>
            </div>
            <template>
              <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll"
                           @change="handleCheckAllChange">全选
              </el-checkbox>
              <div style="margin: 15px 0;"></div>
              <el-checkbox-group v-model="checkedTables" :min="1"
                                 @change="handleCheckedCitiesChange">
                <el-checkbox v-for="table in tables" :label="table" :key="table">{{table}}
                </el-checkbox>
              </el-checkbox-group>
            </template>
          </el-card>
        </div>
        <el-button type="primary" class="submit" @click="onCodeClick">{{tagName}}</el-button>
      </el-col>
    </el-row>
  </el-main>
  <el-footer>
    <el-row>
      <el-col :span="12" :offset="6">
        <p>Powered by www.dingpengwei@foxmail.com</p>
        <p>copyright©2020</p>
      </el-col>
    </el-row>
  </el-footer>
</el-container>
<script>
  new Vue({
    el: '#container',
    data: function () {
      return {
        tableOptions: [],
        tables: [],
        checkedTables: [],
        activeName: '0',
        projectName: 'pwd-initializr-app',
        projectPackage: 'pwd.initializr.app',
        projectVersion: '0.0.1-SNAPSHOT',
        applicationName: 'Application',
        applicationPort: 80,
        databaseName: 'initializr_app',
        databaseUrl: 'jdbc:mysql://localhost:3306/initializr_app?characterEncoding=utf-8&autoReconnect=true&serverTimezone=GMT',
        databaseDriver: 'com.mysql.jdbc.Driver',
        databaseUser: 'root',
        databasePwd: 'root',
        checkAll: false,
        isIndeterminate: true,
        tagName: '提交',
        filename: ''
      };
    },
    methods: {
      onDBConnect() {
        this.tagName = '提交';
        this.filename = '';
        this.$http.get(
            '/api/admin/database?name=' + this.databaseName + '&url=' + this.databaseUrl
            + '&driver='
            + this.databaseDriver + '&user=' + this.databaseUser + '&pwd=' + encodeURIComponent(this.databasePwd)).then(
            function (res) {
              var body = res.body;
              var meta = body.meta;
              var code = meta.code;
              var data = body.data;
              if (data.tables == undefined || data.tables.length == 0) {
                this.$message({
                  message: '没有找到数据表',
                  type: 'warning'
                });
              } else {
                this.tableOptions = data.tables;
                this.tables = data.tables;
              }

            }, function (e) {
              var body = e.body;
              var meta = body.meta;
              var code = meta.code;
              if (code == 400) {
                this.$message.error('参数错误');
              } else if (code == 500) {
                this.$message.error('服务异常');
              } else {
                this.$message.error('未知异常');
              }
            });
      },
      onCodeClick(){
        if (this.filename === '') {
          this.onCodeGenerator();
        } else {
          window.location.href = '/api/admin/generator/' + this.filename;
        }
      },
      onCodeGenerator() {
        this.$http.post(
            '/api/admin/generator', {
              name: this.databaseName,
              url: this.databaseUrl,
              driver: this.databaseDriver,
              user: this.databaseUser,
              pwd: this.databasePwd,
              projectName: this.projectName,
              packageName: this.projectPackage,
              projectVersion: this.projectVersion,
              applicationName: this.applicationName,
              tables: this.checkedTables
            }, {
              header: {
                'Content-Type': 'application/json;charset=UTF-8'
              },
              // emulateJSON: true
            }).then(
            function (res) {
              var body = res.body;
              var meta = body.meta;
              var code = meta.code;
              this.tagName = '下载';
              this.filename = body.data;

            }, function (e) {
              var body = e.body;
              var meta = body.meta;
              var code = meta.code;
              if (code == 400) {
                this.$message.error('参数错误');
              } else if (code == 500) {
                this.$message.error('服务异常');
              } else {
                this.$message.error('未知异常');
              }
            });
      },
      onCodeDownload() {
        this.$http.get('/api/admin/generator/' + this.filename).then(
            function (res) {
              var body = res.body;
            }, function (e) {
              var body = e.body;
              var meta = body.meta;
              var code = meta.code;
              if (code == 400) {
                this.$message.error('参数错误');
              } else if (code == 500) {
                this.$message.error('服务异常');
              } else {
                this.$message.error('未知异常');
              }
            });
      },
      handleCheckAllChange(val) {
        this.checkedTables = val ? this.tableOptions : [];
        this.isIndeterminate = false;
      },
      handleCheckedCitiesChange(value) {
        this.tagName = '提交';
        this.filename = '';
        var checkedCount = value.length;
        this.checkAll = checkedCount === this.tables.length;
        this.isIndeterminate = checkedCount > 0 && checkedCount < this.tables.length;
      }
    }
  });
</script>
<script src="./static/star.js"></script>
</body>
</html>
