<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pwd.initializr.account.persistence.mapper.UserOrgMapper">
  <!-- addUserToOrg -->
  <insert id="addUserToOrg" keyProperty="id"
    parameterType="pwd.initializr.account.persistence.dao.UserOrgEntity"
    useGeneratedKeys="true">
		insert into `user_org`
		(`user_id`,`org_id`,`level`,`status`)
		values
		(#{userId},#{orgId},#{level},#{status})
	</insert>

  <!-- updateLevel -->
  <update id="updateLevel" parameterType="java.lang.Long">
    update `user_org`
    <set>
      `level` = #{level}
    </set>
    <where>
      `user_id` = #{userId}
      and
      `org_id` = #{orgId}
      and
      `status` = 0
    </where>
  </update>
  <!-- updateStatus -->
  <update id="updateStatus" parameterType="java.lang.Long">
    update `user_org`
    <set>
      `status` = #{status}
    </set>
    <where>
      `user_id` = #{userId}
      and
      `org_id` = #{orgId}
    </where>
  </update>

  <!-- findMe -->
  <select id="findOne" parameterType="java.lang.Long"
    resultType="pwd.initializr.account.persistence.dao.UserOrgEntity">
		select
		`user_id` as `userId`,
		`org_id` as `orgId`,
		`level` as `level`,
		`status` as `status`,
		`create_time` as `createTime`,
		`update_time` as `updateTime`
		from `user_org`
		where `user_id` = #{userId}
		and `org_id` = #{orgId}
	</select>

  <!-- listByOrgId -->
  <select id="listByOrgId" parameterType="java.lang.Long"
    resultType="pwd.initializr.account.persistence.dao.UserOrgEntity">
		select
		`user_id` as `userId`,
		`org_id` as `orgId`,
		`level` as `level`,
		`status` as `status`,
		`create_time` as `createTime`,
		`update_time` as `updateTime`
		from `user_org`
		where `org_id` = #{orgId}
		and `status` = #{status}
	</select>

  <!-- listByUserId -->
  <select id="listByUserId" parameterType="java.lang.Long"
    resultType="pwd.initializr.account.persistence.dao.UserOrgEntity">
		select
		`user_id` as `userId`,
		`org_id` as `orgId`,
		`level` as `level`,
		`status` as `status`,
		`create_time` as `createTime`,
		`update_time` as `updateTime`
		from `user_org`
		where `user_id` = #{userId}
	  and `status` = #{status}
	</select>

</mapper>