<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pwd.initializr.account.persistence.mapper.UserOrgMapper">
  <!-- addUserToOrg -->
  <insert id="addUserToOrg" keyProperty="id"
    parameterType="pwd.initializr.account.persistence.dao.UserOrgEntity"
    useGeneratedKeys="true">
		insert into `user_org`
		(`user_id`,`org_id`,`level`,`status`,`create_time`,`update_time`)
		values
		(#{userId},#{orgId},#{level},#{status},#{createTime},#{updateTime})
	</insert>

  <!-- updateLevel -->
  <update id="updateLevel" parameterType="java.lang.Long">
    update `user_org`
    <set>
      `level` = #{level},
			`update_time` = REPLACE(unix_timestamp(current_timestamp(3)),'.','')
    </set>
    <where>
      `user_id` = #{userId}
      and
      `org_id` = #{orgId}
      and
      `status` = 0
    </where>
  </update>
  <!-- updateStatus -->
  <update id="updateStatus" parameterType="java.lang.Long">
    update `user_org`
    <set>
      `status` = #{status},
			`update_time` = REPLACE(unix_timestamp(current_timestamp(3)),'.','')
    </set>
    <where>
      `user_id` = #{userId}
      and
      `org_id` = #{orgId}
    </where>
  </update>

  <!-- findOne -->
  <select id="findOne" parameterType="java.lang.Long"
    resultType="pwd.initializr.account.persistence.dao.UserOrgEntity">
		SELECT
		`user_id` AS `userId`,
		`org_id` AS `orgId`,
		`level` AS `level`,
		`status` AS `status`,
		`create_time` AS `createTime`,
		`update_time` AS `updateTime`
		FROM `user_org`
		WHERE `user_id` = #{userId}
		AND `org_id` = #{orgId}
	</select>

  <!-- listByOrgId -->
  <select id="listByOrgId"
    resultType="pwd.initializr.account.persistence.dao.UserOrgEntity">
		SELECT
		`user_id` AS `userId`,
		`org_id` AS `orgId`,
		`level` AS `level`,
		`status` AS `status`,
		`create_time` AS `createTime`,
		`update_time` AS `updateTime`
		FROM `user_org`
		WHERE `org_id` = #{orgId}
		AND `status` = #{status}
	</select>

  <!-- listByUserId -->
  <select id="listByUserId"
    resultType="pwd.initializr.account.persistence.dao.UserOrgEntity">
		select
		`user_id` AS `userId`,
		`org_id` AS `orgId`,
		`level` AS `level`,
		`status` AS `status`,
		`create_time` AS `createTime`,
		`update_time` AS `updateTime`
		from `user_org`
		where `user_id` = #{userId}
	  and `status` = #{status}
	</select>

</mapper>