<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pwd.initializr.account.persistence.mapper.UserMapper">
  <!-- insertUser -->
  <insert id="insertUser" keyProperty="id"
    parameterType="pwd.initializr.account.persistence.dao.UserEntity"
    useGeneratedKeys="true">
		insert into `user`
		(`id`,`name`,`phone_number`,`status`,`create_time`,`update_time`)
		values
		(#{id},#{name},#{phoneNumber},#{status},#{createTime},#{updateTime})
	</insert>

	<!--listUser-->
	<select id="listUser"
		resultType="pwd.initializr.account.persistence.dao.UserEntity">
		select
		`id` as `id`,
		`name` as `name`,
		`phone_number` as `phoneNumber`,
		`status` as `status`,
		`create_time` as `createTime`,
		`update_time` as `updateTime`
		from `user`
	</select>

	<!--listUserByIds-->
	<select id="listUserByIds"
		resultType="pwd.initializr.account.persistence.dao.UserEntity">
		select
		`id` as `id`,
		`name` as `name`,
		`phone_number` as `phoneNumber`,
		`status` as `status`,
		`create_time` as `createTime`,
		`update_time` as `updateTime`
		from `user`
		where `id` in
		<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

  <!--findByUserId-->
  <select id="findByUserId" parameterType="java.lang.Long"
    resultType="pwd.initializr.account.persistence.dao.UserEntity">
		select
		`id` as `id`,
		`name` as `name`,
		`phone_number` as `phoneNumber`,
		`status` as `status`,
		`create_time` as `createTime`,
		`update_time` as `updateTime`
		from `user`
		where id = #{id}
	</select>

  <!--countUser-->
  <select id="countUser" resultType="java.lang.Long">
		select
		count(1)
		from
		`user`
	</select>
</mapper>
