<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>MONITOR</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <!-- Bootstrap -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
  <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
  <!--[if lt IE 9]>
  <script src="js/bootstrap.min.js"></script>

  <![endif]-->
  <script src="js/echarts.min.js"></script>
</head>
<body>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading" id="tip">Default Channel</div>
  <div class="panel-body">
    <div id="inputReport" style="width:600px; height:500px;"></div>
    <div id="speed" style="width:600px; height:400px;"></div>
  </div>

</div>
<script>
  var socket;
  if (typeof (WebSocket) == 'undefined') {
    console.log('您的浏览器不支持WebSocket');
  } else {
    console.log('您的浏览器支持WebSocket');
    //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
    //等同于socket = new WebSocket("ws://localhost:8083/checkcentersys/websocket/20");
    socket = new WebSocket('ws://localhost:11234/monitor');
    //打开事件
    socket.onopen = function() {
      console.log('Socket 已打开');
      //socket.send("这是来自客户端的消息" + location.href + new Date());
    };
    //获得消息事件
    socket.onmessage = function(msg) {
      document.getElementById('tip').innerText = '';
      document.getElementById('tip').innerText = msg.data;
      onRefreshInputReport(JSON.parse(msg.data));
      onRefreshSpeed(JSON.parse(msg.data).speed)
      //发现消息进入    开始处理前端触发逻辑
    };
    //关闭事件
    socket.onclose = function() {
      console.log('Socket已关闭');
    };
    //发生了错误事件
    socket.onerror = function() {
      alert('Socket发生了错误');
      //此时可以尝试刷新页面
    };
  }

  var inputReport = echarts.init(document.getElementById('inputReport'));
  function onRefreshInputReport(data){
    var scale = 1;
    var inputReportOptionRichEchartData = [{
      value: data.processing,
      name: 'processing'
    }, {
      value: data.transferring,
      name: 'transferring'
    }, {
      value: data.transferred,
      name: 'transferred'
    }];

    var inputReportOptionRich = {
      yellow: {
        color: '#ffc72b',
        fontSize: 30 * scale,
        padding: [5, 4],
        align: 'center'
      },
      total: {
        color: '#ffc72b',
        fontSize: 40 * scale,
        align: 'center'
      },
      white: {
        color: '#fff',
        align: 'center',
        fontSize: 14 * scale,
        padding: [21, 0]
      },
      blue: {
        color: '#49dff0',
        fontSize: 16 * scale,
        align: 'center'
      },
      hr: {
        borderColor: '#0b5263',
        width: '100%',
        borderWidth: 1,
        height: 0
      }
    };
    inputReportOption = {
      backgroundColor: '#031f2d',
      title: {
        text: '总文件数',
        left: 'center',
        top: '53%',
        padding: [24, 0],
        textStyle: {
          color: '#fff',
          fontSize: 18 * scale,
          align: 'center'
        }
      },
      legend: {
        selectedMode: false,
        formatter: function(name) {
          var total = 0; //各科正确率总和
          var averagePercent; //综合正确率
          inputReportOptionRichEchartData.forEach(function(value, index, array) {
            total += value.value;
          });
          return '{total|' + total + '}';
        },
        data: [inputReportOptionRichEchartData[0].name],
        // data: ['高等教育学'],
        // itemGap: 50,
        left: 'center',
        top: 'center',
        icon: 'none',
        align: 'center',
        textStyle: {
          color: '#fff',
          fontSize: 16 * scale,
          rich: inputReportOptionRich
        }
      },
      series: [{
        name: '总数量',
        type: 'pie',
        radius: ['42%', '50%'],
        hoverAnimation: false,
        color: ['#c487ee', '#deb140', '#49dff0', '#034079', '#6f81da', '#00ffb4'],
        label: {
          normal: {
            formatter: function(params, ticket, callback) {
              var total = 0; //考生总数量
              var percent = 0; //考生占比
              inputReportOptionRichEchartData.forEach(function(value, index, array) {
                total += value.value;
              });
              percent = ((params.value / total) * 100).toFixed(1);
              return '{white|' + params.name + '}\n{hr|}\n{yellow|' + params.value + '}\n{blue|'
                  + percent + '%}';
            },
            rich: inputReportOptionRich
          }
        },
        labelLine: {
          normal: {
            length: 55 * scale,
            length2: 0,
            lineStyle: {
              color: '#0b5263'
            }
          }
        },
        data: inputReportOptionRichEchartData
      }]
    };
    // use configuration item and data specified to show chart
    inputReport.setOption(inputReportOption);
  }

  var speed = echarts.init(document.getElementById('speed'));
  function onRefreshSpeed(data){

    option = {
      backgroundColor: "#031f2d",
      title: {
        x: 'center',
        text: '执行器执行耗时',
      },
      textStyle: {
        fontSize: '14',
        fontWeight: 'normal',
        color: '#fff'
      },
      tooltip: {
        trigger: 'item'
      },
      toolbox: {
        show: false,
        feature: {
          //dataView: {show: true, readOnly: false},
          //restore: {show: true},
          saveAsImage: {show: true}
        }
      },
      calculable: true,
      grid: {
        borderWidth: 0,
        y: 70,
        y2: 60
      },
      xAxis: [
        {
          type: 'category',
          show: true,
          // data: ["2013年","2014年","2015年","2016年","2017年","2018年"],//['Line', 'Bar', 'Scatter', 'K', 'Pie', 'Radar', 'Chord', 'Force', 'Map', 'Gauge', 'Funnel']
          data: [],//['Line', 'Bar', 'Scatter', 'K', 'Pie', 'Radar', 'Chord', 'Force', 'Map', 'Gauge', 'Funnel']
        }
      ],
      yAxis: [
        {
          type: 'value',
          show: false
        }
      ],
      series: [
        {
          name: '执行器执行耗时',
          textStyle: {
            fontSize: '14',
            fontWeight: 'normal',
            color: '#fff'
          },
          type: 'bar',
          itemStyle: {
            normal: {
              color: function(params) {
                // build a color map as your need.
                var colorList = [
                  '#C1232B','#FCCE10','#E87C25','#60C0DD','#27727B',
                  '#FE8463','#9BCA63','#FAD860','#F3A43B', '#D7504B','#C6E579','#F4E001','#F0805A','#26C0C0'
                ];
                return colorList[params.dataIndex]
              },
              label: {
                show: true,
                position: 'top',
                formatter: '{b}\n{c}'
              }
            }
          },
          // data: [533,4326,4983,3908,3929,3544],//[12,21,10,4,12,5,6,5,25,23,7],
          data: [],//[12,21,10,4,12,5,6,5,25,23,7],
          markPoint: {
            tooltip: {
              trigger: 'item',
              backgroundColor: 'rgba(0,0,0,0)',
              formatter: function(params){
                return '<img src="'
                    + params.data.symbol.replace('image://', '')
                    + '"/>';
              }
            }
          }
        }
      ]
    };


    for (var proId in data) {
      option.xAxis[0].data.push(proId);
      option.series[0].data.push(data[proId]);
    }

    speed.setOption(option);
  }

</script>
</body>
</html>
